/* some style */

.main-content {
  margin-top: 50px;
}

.tree-view {
  overflow-y: scroll;
  height: 572px;
}

.elements-view {
  height: 500px;
  overflow-y: scroll;
}

.item-icon {
  height: 100px;
  width: 100px;
}

.inline {
  display: inline-block !important;
}

.category-breadcrumb {
  font-size: 90% !important;
  text-transform: capitalize !important;
}

.item-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.item-view {
  cursor: pointer;
}

.category-item {
  margin-right: 0.4rem;
  text-transform: capitalize;
}

.selected-category-item {
  font-weight: bold;
}

.icon-chooser {
  height: 300px;
  overflow-y: scroll;
}

.category-expander:before {
  font-size: 80%;
}